/*home*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f9f9f9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.logo img {
    width: 100px;
    height: 50px;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}
nav ul li a:hover {
    background: #ffced4;
    color: #d6336c;
}